networks:
  common_network:

services:
  web_server:
    build:
      context: ./services/web_server/
      dockerfile: ./dockerfile
    networks:
      - common_network
    volumes:
      - ./services/web_server/.env:/app/.env:ro
    restart: always
    ports:
      - 80:80
    profiles:
      - all-services

  worker_pool:
    build:
      context: ./services/worker_pool/
      dockerfile: ./dockerfile
    networks:
      - common_network
    volumes:
      - ./services/worker_pool/.env:/app/.env:ro
    restart: always
    profiles:
      - all-services
   
  message_broker:
    image: rabbitmq:management
    networks:
      - common_network
    ports:
      - 15672:15672
      - 5672:5672
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    restart: always
    profiles:
      - third-party
      - all-services

  cache:
    image: redis:latest
    networks:
      - common_network
    ports:
      - 6379:6379
    restart: always
    profiles:
      - third-party
      - all-services

  persistent_storage:
    image: postgres:latest
    networks:
      - common_network
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
    restart: always
    profiles:
      - third-party
      - all-services